{% extends 'flatpages/default.html' %}

{% block title %}
    <title>Объявления</title>
{% endblock title %}

{% block content %}
    <h1>Отклики</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
    </form>
    <hr>
    {% if responses %}
        <table>
            <tr>
                <td>Header</td>
                <td>Text</td>
            </tr>
            {% for response in responses %}
                <tr>
                    <td>{{ response.product.header }}</td>
                    <td><button><a href="{% url 'response_accept' response.pk %}">принять</a></button></td>
                    <td><button><a href="{% url 'response_delete' response.pk %}">удалить</a></button></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Объявления отсутствуют</p>
    {% endif %}
{% endblock content %}
